.card-container {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 400px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.img-card {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card > div:last-child {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.price-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.price {
  font-size: 18px;
  color: #e74c3c;
}

.cart {
  font-size: 16px;
  color: #3498db;
}

.stock {
  font-size: 16px;
  color: #7f8c8d;
}


@media (max-width: 760px) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }

  .card {
    flex-direction: column;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .img-card {
    width: 100%;
    height: 200px;
  }

  .card > div:last-child {
    padding: 15px;
    gap: 10px;
  }

  .name {
    font-size: 18px;
  }

  .price-cart {
    gap: 10px;
  }

  .price {
    font-size: 16px;
  }

  .cart {
    font-size: 14px;
  }

  .stock {
    font-size: 14px;
  }
}